@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    It is ok!
    @if (ViewBag.data != null)
    {
    <p>@ViewBag.data</p>
    }
    </div> *@
<div class="text-center">
    <h1 class="display-4">Authorized as: @ViewBag.data!</h1>
</div>
