@{
	ViewData["Title"] = "Auth";
}
<h1>@ViewData["Title"]</h1>


<form method="POST" asp-area="" asp-controller="Home" asp-action="SignIn">
	Login with Qoolo:<br>
	Login: <input type="Login" name="Login" /><br>
	Password: <input type="Password" name="Password" /><br>
	<input type="submit" value="Отправить" />
</form>
